:root {
  --accent-primary-color: #ac70c2;
  --accent-dark-color: #7b458f;
  --accent-secondary-color: #edbdff;
  --accent-shadow-color: #fae8ff;
  --text-primary-color: #fff;
  --bg-grey: #9ca3af;
  --bg-light-grey: #f9fafb;
  --transition-base: 0.3s;
  --linear-gradient-dark: linear-gradient(to left, white, var(--accent-dark-color));
}
