::-webkit-input-placeholder {
  color: #d6c6dc;
  font-size: 20px;
}

.cardItem {
  border-radius: 20px;
  background: var(--card-bg-color);
  padding: 19px 30px;
  width: 283px;

  .cardItemBanner {
    background: var(--bg-color);
    position: relative;
    height: 209px;
    border-radius: 10px;
    margin-bottom: 10px;

    .cardImage {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .heart {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  .cardText {
    h6 {
      font-family: var(--font-family-main);
      font-size: 20px;
      text-align: center;
      color: var(--primary-color);
      font-weight: initial;
    }

    .cardPrice {
      font-weight: 600;
      margin-top: 15px;
    }
  }
}
