.Swiper {
  position: relative;
  margin: 20px 86px 80px;

  .SwiperContainer {
    overflow: hidden;

    .SwiperItems {
      display: flex;
      transition: transform 0.3s ease;
    }
  }

  .Pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .PaginationItem {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: white;
      border: var(--accent-secondary-color) 1px solid;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-grey);
      }

      &.Active {
        border: none;
        border-radius: 8px;
        width: 36px;
        background: linear-gradient(white, var(--accent-primary-color));
      }
    }
  }

  .PrevButton,
  .NextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .PrevButton {
    left: 10px;
  }

  .NextButton {
    right: 10px;
  }
}
