.navbar {
  width: 100%;
  background-color: var(--secondary--color);

  .headerBottom {
    background-color: var(---accent-primary-color);
    height: 50px;

    .bottomFlex {
      display: flex;
      justify-content: flex-end;
      height: 50px;
    }
  }

  .headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .nav_right {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .logo {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
  }

  ul {
    display: flex;
  }

  .link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 30px;
    padding-top: 37px;
    padding-bottom: 32px;
    padding-right: 50px;
    display: block;
  }
}

::-webkit-input-placeholder {
  color: var(---accent-primary-color);
  font-size: 20px;
  //line-height: 1px;
}
