.sliderContainer {
  position: relative;
  display: block;
}

.leftArrow {
  cursor: pointer;
  scale: 1;
  transition: var(--transition-base);
}

.leftArrow:hover {
  scale: 1.3;
}

.rightArrow {
  cursor: pointer;
  scale: 1;
  transition: var(--transition-base);
}

.rightArrow:hover {
  scale: 1.3;
}

.brandCard {
  margin: 0;
}

.brandCardImg {
  width: 140px;
  margin: 0;
}
