.navbarHeader {
  width: 100%;
  background-color: var(--accent-primary-color);
  padding: 18px 86px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  min-width: 404px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.link {
  color: var(--text-primary-color);
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 90px;
  margin-right: 22px;
}

.link:nth-child(2) {
  width: 70px;
}

.link:nth-child(3) {
  width: 80px;
}

.link:hover {
  font-weight: 700;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-width: 190px;
}

.tel {
  color: var(--text-primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: start;
  min-height: 26px;
}

.logo {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  transition: var(--transition-base);
}

.logo:hover {
  fill: white;
}
