.mayLikeContainer {
  margin: 120px 86px;

  .headerContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .headerText {
    color: var(--accent-dark-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-right: 12px;
  }

  .headerBoarderLine {
    color: var(--accent-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
